<!--<div class="container">
  <p>Angular Fullstack v3.0.0-rc4 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div>-->
<div flex="none" style="background:#232323;color:#ffffff">

    <div class="footer">
      <div class="container">
        <div class="row marginzero">
          <div class="col-md-6 pull-left">
            <ul class="list-inline marginzero">
              <li>© 2016 MeMe Information Technology Private Limited</li>
            </ul>
          </div>
          <div class="col-md-6">
            <section class="meme-sticky text-center" style="backgrounf:red">


              <ul class="list-inline marginzero">
                <li>
                  <img src="../../assets/images/facebook.png" class="socialicons" />

                </li>
                <li>
                  <img src="../../assets/images/linkedin.png" class="socialicons" />
                </li>
                <li>
                  <img src="../../assets/images/google-plus.png" class="socialicons" />
                </li>
              </ul>
          </div>

      
        </div>
      </div>
    </div>

 </div>